[submodule "src/Universal_Robots_ROS2_Driver"]
	path = src/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = jazzy

[submodule "src/Universal_Robots_ROS2_Description"]
	path = src/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = jazzy

[submodule "src/xarm_ros2"]
	path = src/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
	branch = jazzy

[submodule "src/Universal_Robots_Client_Library"]
	path = src/Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
	branch = master

[submodule "src/ur_msgs"]
	path = src/ur_msgs
	url = https://github.com/ros-industrial/ur_msgs.git
	branch = humble

[submodule "src/franka_description"]
	path = src/franka_description
	url = https://github.com/frankaemika/franka_description.git
	branch = jazzy
