[submodule "src/xarm_ros2"]
	path = src/robot_core/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
	branch = jazzy

[submodule "src/franka_description"]
	path = src/robot_core/franka_description
	url = https://github.com/frankaemika/franka_description.git
	branch = jazzy
